extends layout

block customStyles

block precontenttitle
  h2 Current entry cover
  //- #{entry.localID}

block precontent
  #initform(class="coverBook printNav")
    //- place generated data with initialized entry data (time, name, initializer, etc.)
    //- - for(var i = entrylist.length; i >= entrylist.length; i--);
    - var chapterNum = currEntry.chapters;
    - var extrChapNum = chapterNum.length;
    em(class="localID")= currEntry.localID
    p(class="entryname")= currEntry.entryname
    p(class="creatorname")= currEntry.creatorname
    p(class="initdate")= currEntry.initdate
    p(class="chapterNums")= 'Chapters: ' + extrChapNum
    p(id="booktags" class="cardprop") Talks about:
      each tag, i in currEntry.tags
        span(class="cardTag")= tag


  .backCover
  //- place generated data with initialized entry data (time, name, initializer, etc.)

block content
  article(class="h2p-content")
    #cover(class="h2p-break-after singleColumnWide")
      #repositoryEmblem
      h1.entryname= currEntry.entryname
      h1.creatorname= currEntry.creatorname
      #jumpinCover
        #tags
          p This entry goes about:
          each tag, i in currEntry.tags
            span.tags= tag + '/ '
        br
        #sources
          p Taken from:
          each chapter, i in currEntry.chapters
            span.sources= chapter.url
    #whitespace(class="h2p-break-after")
    #whitespace(class="h2p-break-after")
    #aftercover(class="h2p-break-after")
    #annecdote(class="h2p-break-after")
    #index(class="h2p-break-after singleColumnWide titlepage")
      h2 INDEX
      each chapter, i in currEntry.chapters
        - var newchapName = chapter.url.replace('http://www.wikipedia.org/wiki', '');
        p.indexchapter= newchapName
    #whitespace(class="h2p-break-after")    
    #introduction(class="h2p-break-after singleColumnWide titlepage")
      h2 INTRODUCTION
      br
      p.introductionbody= currEntry.introduction
      p This entry has been generated using the World Wide Repository, for more information about this project please see the website: http://www.martijndeheer.nl (which is not included in this entry). 
    #whitespace(class="h2p-break-after")    
    #contentBody(class="h2p-break-after")
      #chaptitle0.0(class="h2p-break-after titlepage")
        .titleNum
          h2.chaptertitle Chapter 01/
        .titleTopic
          - var topicName1 = currEntry.chapters[0].url.replace('http://www.wikipedia.org/wiki', '');
          h2= topicName1
        .subjectURL
          p= currEntry.chapters[0].url
          br
          p= currEntry.chapters[0].timereq
      #chap0.0(class="h2p-break-after") !{ chap1 }

      #chaptitle1.1(class="h2p-break-after titlepage")
        .titleNum
          h2.chaptertitle Chapter 02/
        .titleTopic
          - var topicName2 = currEntry.chapters[1].url.replace('http://www.wikipedia.org/wiki', '');
          h2= topicName2
        .subjectURL
          p= currEntry.chapters[1].url
          br
          p= currEntry.chapters[1].timereq
      #chap1.1(class="h2p-break-after") !{ chap2 }

      #chaptitle2.2(class="h2p-break-after titlepage")
        .titleNum
          h2.chaptertitle Chapter 03/
        .titleTopic
          - var topicName3 = currEntry.chapters[2].url.replace('http://www.wikipedia.org/wiki', '');
          h2= topicName3
        .subjectURL
          p= currEntry.chapters[2].url
          br
          p= currEntry.chapters[2].timereq
      #chap2.2(class="h2p-break-after") !{ chap3 }

      #chaptitle3.3(class="h2p-break-after titlepage")
        .titleNum
          h2.chaptertitle Chapter 04/
        .titleTopic
          - var topicName4 = currEntry.chapters[3].url.replace('http://www.wikipedia.org/wiki', '');
          h2= topicName4
        .subjectURL
          p= currEntry.chapters[3].url
          br
          p= currEntry.chapters[3].timereq
      #chap3.3(class="h2p-break-after") !{ chap4 }

      #chaptitle4.4(class="h2p-break-after titlepage")
        .titleNum
          h2.chaptertitle Chapter 05/
        .titleTopic
          - var topicName5 = currEntry.chapters[4].url.replace('http://www.wikipedia.org/wiki', '');
          h2= topicName5
        .subjectURL
          p= currEntry.chapters[4].url
          br
          p= currEntry.chapters[4].timereq
      #chap4.4(class="h2p-break-after") !{ chap5 }
    #colophon(class="h2p-break-after")
      .colophonbody
        h2 COLOPHON
        p This entry (and the world wide repository for that matter) is generated using the following:
        br
        p Typeface: Atlas Grotesk, Atlas Typewriter // Atlas Grotesk designed by Kai Bernau, Susana Carvalho (http://carvalho-bernau.com), Christian Schwartz (http://www.christianschwartz.com/duplicatesans.shtml), 2008 – 2012. // Atlas Typewriter designed by Susana and Kai, 2011/2012. // http://carvalho-bernau.com/atlas // buy at: https://commercialtype.com/catalog/atlas
        br
        p Dependencies used: World Wide Web, HTML, CSS, Javascript, NodeJS, ExpressJS, Body-parser, Cheerio, Consolidate, Cookie-parser, Debug, Express, Jade, Mongodb, Monk, Morgan, Mustache, Request, Serve-favicon
        br
        p World Wide Repository is created by Martijn de Heer. Graduation class of 2016, Royal Academy of Art, The Hague. // with the great advice, support and help from Eric Schrijver (http://ericschrijver.nl) and Dirk Vis (http://www.dirkvis.net) // Frits Deys, Michel Hoogervorst, Roosje Klap, Matthias Kreutzer, Jan Robert Leegte, Ruben Pater, Ewoud Traast.
    .hiddenMeta
      p(class="initdate")= currEntry.initdate
      p(class="localID")= currEntry.localID
      .chapter1
        p(class="path1")= '../' + currEntry.chapters[0].content
        p(class="chaptertype0")= currEntry.chapters[0].level
      .chapter2
        p(class="path")= '../' + currEntry.chapters[1].content
        p(class="chaptertype1")= currEntry.chapters[1].level
      .chapter3
        p(class="path")= '../' + currEntry.chapters[2].content
        p(class="chaptertype2")= currEntry.chapters[2].level
      .chapter4
        p(class="path")= '../' + currEntry.chapters[3].content
        p(class="chaptertype3")= currEntry.chapters[3].level
      .chapter5
        p(class="path")= '../' + currEntry.chapters[4].content
        p(class="chaptertype4")= currEntry.chapters[4].level

block localscript
  script(type='text/javascript').
    $(document).ready(function(){
      $('.hiddenMeta').css('display', 'none');
      //- $('.flaggedrevs-icon').remove();
      $('body').removeAttr('class');
      $('audio').remove();
      $('video').remove();
      //- $('img[alt="Page semi-protected"]').remove();
      //- $('img[alt="This is a good article. Click here for more information."]').remove();
      $('div').find('.tmulti').remove();
    });
    
    $("article.h2p-content a").click(function(e){ e.preventDefault(); });
    
    $("article.h2p-content a").each(function(){
      $(this).removeAttr('href');
    });

    $(window).load(function(){


      //- for(i=0; i <= 5; i++){
      //-   var chaptertype = $('.chaptertype'+[i]);
      //-   var thisChapter = $('#chap'+[i]);

      //-   if(chaptertype == 1){

      //-     thisChapter.not('p:lt(4)').remove();
      //-     thisChapter.addClass('singleColumnWide');
      //-     console.log('type 1 true');

      //-   } else if(chaptertype == 2){

      //-     thisChapter.addClass('longread');
      //-     console.log('type 2 true');

      //-   } else if(chaptertype == 3){

      //-     thisChapter.not('img').remove();
      //-     console.log('type 3 true');

      //-   }


      //- }


      var str = $('h1.entryname').text();
      str = str.toLowerCase().replace(/\b[a-z]/g, function(letter) {
        return letter.toUpperCase();
      });
      $('h1.entryname').html(str);


      $('#absolutesmallwrap').css({'top': 'auto', 'bottom': '10px'});

      setTimeout(function(){
        H2P.init();
      }, 0);
      
      var activeFish = $('#fishmenuwrap').find('[data-localid="#{currEntry.localID}"]');
      activeFish.addClass('currselected').children('.cardprop').addClass('showcurrcardInd').end();

      var coverBookOffset = $('.coverBook').offset().top;
      var topSelectedEntry = activeFish.offset().top;
      var CenterSelectedEntry = topSelectedEntry-coverBookOffset;

      //- $("#fishmenuwrap").scrollTop(CenterSelectedEntry);
    });

  script(type="application/javascript" rel="script" src="/html2print/dist/js/html2print.js")
