extends layout

block precontenttitle
  //- #{entry.localID}

block precontent
  #initform(class="coverBook")
    //- place generated data with initialized entry data (time, name, initializer, etc.)
    //- - for(var i = entrylist.length; i >= entrylist.length; i--);
    em(class="localID")= currEntry.localID
    p(class="entryname" class="cardprop")= currEntry.entryname
    p(class="creatorname" class="cardprop")= currEntry.creatorname
    p(class="initdate" class="cardprop")= currEntry.initdate

  .backCover
  //- place generated data with initialized entry data (time, name, initializer, etc.)

block content
  #bookchapters
    h2.notdynamic= currEntry.entryname
    p.introductiondiv= currEntry.introduction
    .tag-group
      each tag, i in currEntry.tags
        span.tags= tag
    .url-group
      p URLs in this entry:
      each chapter, i in currEntry.chapters
        .chapdata= chapter.url

block localscript
  script(type='text/javascript').

    $(window).load(function(){
      var activeFish = $('#fishmenuwrap').find('[data-localid="#{currEntry.localID}"]');
      activeFish.addClass('currselected').end();

      setTimeout(function(){
        var coverBookOffset = $('.coverBook').position().top;
        var topSelectedEntry = activeFish.position().top;
        var CenterSelectedEntry = topSelectedEntry-coverBookOffset;
      }, 0);

    });