extends layout

block precontenttitle
  h2 add an entry/

block precontent
  #initform
    //-http://localhost:3000/
    form(action="http://localhost:3000/" method="post")
      label(for="creatorname") name of initiator(that's you)/
      input(type="text" id="creatorname" name="creatorname" placeholder="Enter your name" required spellcheck="false")
      input(type="hidden" name="presenthere" value="kabk")
      input(type="submit" id="submit" value="initiate entry")

block content
  #Twocollumn
    h2 Entries exhibited/ 
    #currentliveEntries
      each currentLiveEntry, i in currentlive
        a(href="/initbook/#{currentLiveEntry.localID}")
          div(class="liveEntry")
            span(id="rectangle")
            p(class="name")= currentLiveEntry.entryname
            em= currentLiveEntry.localID
            p(class="creatorname")= currentLiveEntry.creatorname
            p(class="timeDate")= currentLiveEntry.initdate

block localscript
  script(type='text/javascript').
    $('#smallcontent').css('bottom', '0');
    $('#absolutesmallwrap').css('bottom', '20px');
    $('#absolutesmallwrap').css('top', 'auto');
    $('#initform').css('bottom', '0');

    //- $('#initform').mouseover(function(){
    //-   $('#absolutesmallwrap').css('width', '191%');
    //- }).mouseleave(function(){
    //-   $('#absolutesmallwrap').css('width', '90.5%');
    //- });
    //- $(window).load(function(){
    //-   var aPaperSize = $('.liveEntry').width() * 1.41;
    //-   $('.liveEntry').css('height', aPaperSize);
    //- });
